html, body {
  width: 100%;
  min-width: 960px;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

div#wrapper {
  min-height: 100%;
}

div#header-wrapper {
  z-index: 1;
  height: 125px;
  min-width: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, white, #f0f0f0);
  background-image: -moz-linear-gradient(top, white, #f0f0f0);
  background-image: -ms-linear-gradient(top, white, #f0f0f0);
  background-image: -o-linear-gradient(top, white, #f0f0f0);
  box-shadow: 0px 2px 5px 5px #dfdfdf;
}

div#header {
  width: 960px;
  margin: 0 auto;
}

.nav-bar {
  height: 125px;
  font-family: "Open Sans", sans-serif;
}
.nav-bar ul {
  list-style: none;
  line-height: 125px;
  /*li:after {
  	content: '/';
  	padding-left: 5px;
  }*/
}
.nav-bar ul li {
  display: inline;
  padding-right: 5px;
  font-size: 18px;
}
.nav-bar ul li a {
  color: #8f8f8f;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.nav-bar ul li a:hover {
  color: #000000;
}

div#slider-wrapper {
  position: relative;
  z-index: -1;
  min-width: 100%;
  background-color: #f6f6f6;
}

div#slider {
  width: 960px;
  margin: 0 auto;
}

.bodytext {
  padding-top: 15px;
  padding-bottom: 70px;
  width: 960px;
  margin: 0  auto;
}
.bodytext h1 {
  font-size: 28px;
}
.bodytext a:hover {
  color: #0040f8;
  transition: 0.5s;
}
.bodytext #loginForm {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 400px;
}
.bodytext #loginForm .button {
  float: right;
  height: 40px;
  width: 100px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
.bodytext #loginForm .button:hover {
  color: #FFFFFF;
}
.bodytext #joinUs label {
  margin: 0;
}
.bodytext #joinUs p {
  text-align: left;
  padding-left: 10px;
}
.bodytext #joinUs .buttonRow {
  width: 960px;
}
.bodytext #joinUs .buttonRow .button {
  height: 50px;
  width: 113px;
  margin-top: 10px;
  margin-left: 45%;
}
.bodytext .separation {
  border-bottom: 1px solid #000;
}
.bodytext .separation .scoreBox {
  float: right;
}

.noPadding {
  padding-top: 0;
}

div#newsItem {
  margin-left: 5px;
  border-bottom: 1px dotted #000000;
}
div#newsItem h2 {
  font-size: 16px;
}
div#newsItem p {
  font-size: 14px;
  padding: 0;
}

div#officer {
  height: 200px;
  padding-top: 5px;
}

div#side-bar {
  padding-top: 20px;
  float: left;
  width: 157px;
  min-height: 100%;
  text-align: center;
  display: inline;
}
div#side-bar .side-nav {
  padding-top: 0px;
}
div#side-bar .side-nav li {
  margin: 0;
  padding: 0;
}
div#side-bar .side-nav .menuOption {
  width: 157px;
  height: 40px;
  background-color: #e9e9e9;
  line-height: 40px;
  border-bottom: 1px solid #F9F9F9;
  text-align: center;
}
div#side-bar .side-nav .menuOption a {
  color: #000;
}
div#side-bar .side-nav .menuOption a:hover {
  color: #000;
}
div#side-bar .side-nav .menuOption:hover {
  background-color: #999999;
}
div#side-bar .side-nav .active {
  background-color: #CCC;
  color: #FFF;
}

div#mainContent {
  font-size: 14px;
  display: inline;
  padding-left: 10px;
  width: 703px;
  float: left;
  text-align: left;
  padding-top: 10px;
}
div#mainContent h2 {
  font-size: 18px;
}
div#mainContent ol {
  margin-left: 20px;
}
div#mainContent ol ul {
  margin-left: 10px;
}
div#mainContent ul {
  margin-left: 20px;
}
div#mainContent #classlists {
  padding-left: 10px;
}

footer {
  position: relative;
  margin-top: -70px;
  height: 70px;
  clear: both;
  background-color: #222222;
  border-top: 3px solid #999999;
  color: #ffffff;
  line-height: 70px;
  font-size: 16px;
}

div#footer-inner {
  width: 960px;
  margin: 0 auto;
  line-height: 70px;
}
div#footer-inner ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}
