$fontName: 'Open Sans', sans-serif;
$footerHeight: 60px;
@mixin headerBackground {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f0f0f0));
   	background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0); 
   	background-image:    -moz-linear-gradient(top, #ffffff, #f0f0f0);
   	background-image:     -ms-linear-gradient(top, #ffffff, #f0f0f0);
   	background-image:      -o-linear-gradient(top, #ffffff, #f0f0f0);
 	box-shadow: 0px 2px 5px 5px #dfdfdf;
}
html, body {
	width: 100%;
	min-width: 960px;
	height: 100%;
	margin: 0;	
	font-family: $fontName;
	color: #000000;
}
div#wrapper {
	min-height: 100%;
}
div#header-wrapper {
	z-index: 1;
	height: 125px;
	min-width: 100%;
	@include headerBackground;
}
div#header {
	width: 960px;
	margin: 0 auto;
}
.nav-bar{
	height: 125px;
	font-family: $fontName;	
	ul {
		list-style: none;
		line-height: 125px;
		li {
		display: inline;	
		padding-right: 5px;
		font-size: 18px;
			a {
				color: #8f8f8f;	
				-webkit-transition: 0.5s;
				-moz-transition: 0.5s;
				transition: 0.5s;
			}
			a:hover {
				color: #000000;				
			}
		}
		/*li:after {
			content: '/';
			padding-left: 5px;
		}*/
	}
	
}
div#slider-wrapper {	
	position: relative;	
	z-index: -1;
	min-width: 100%;
	background-color: #f6f6f6;	
}
div#slider {	
	width: 960px;
	margin: 0 auto;
}
.bodytext {
	padding-bottom: $footerHeight;
	width: 960px;
	margin: 0  auto;
	h1 {
		font-size: 28px;
	}
}
div#newsItem {
	margin-left: 5px;
	border-bottom: 1px dotted #000000;
	h2 {
		font-size: 16px;
	}
	p {
		font-size: 14px;
		padding: 0;
	}
}
footer {
	position: relative;
	margin-top: -$footerHeight;
	height: $footerHeight;
	clear: both;
	background-color: #222222;
	border-top: 3px solid #999999;	
	color: #ffffff;
	line-height: $footerHeight;
	font-size: 16px;
}
div#footer-inner {
	width: 960px;
	margin: 0 auto;		
	line-height: $footerHeight;
	ul {				
		list-style-type: none;	
		padding: 0;
		margin: 0;
	}	
}
.left {
	float: left;
}
.right {
	float: right;
}