/*Stylesheet by Andrew Gu*/

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
body {	
	  background: -webkit-gradient(radial, circle, 0, circle, 70, color-stop(0%, #039503), color-stop(70%, #014901));
	  background: -webkit-radial-gradient(circle, #039503 0%, #014901 70%);
	  background: -moz-radial-gradient(circle, #039503 0%, #014901 70%);
	  background: -o-radial-gradient(circle, #039503 0%, #014901 70%);
	  background: radial-gradient(circle, #039503 0%, #014901 70%);
	  background-repeat: no-repeat;
    	  background-attachment: fixed;
}
div#wrapper {	
	width: 960px;		
	margin: 0 auto;
	margin-top: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 1);
	box-shadow:         0px 4px 5px rgba(50, 50, 50, 1);
}
div#banner {
	width: 960px;
	height: 110px;
	padding-top: 5px;
	border-bottom: 5px solid #000;
	img {
		float: left;
	}
}
$menu-height: 440px;
div#content {
	height: 100%;
	min-height: $menu-height;
}
#sidebar {
	width: 157px;		
	float: left;	
	height: $menu-height;
	display: inline;
	ul {
		list-style-type: none;		
		li {			
			  height: 40px;
			  width: 157px;	
			  background-color: #e9e9e9;
			  line-height: 40px;
			  border-bottom: 1px solid #F9F9F9;		
			  text-align: center;	  
			  margin: 0;
			  padding: 0;
		}
		li:hover {
			background-color: #999999;
			transition: 0.5s;
		}
		a {
			color: #000;
		}
	}
}
$form-width: 700px;
div#mainContent {
	width: 100%;
	padding-left: 170px;
	padding-right: 10px;
	h1 {
		text-align: center;
		font-size: 36px;
	}
	#codeWords  {
		padding-left: 50px;
	}
	form {
		width: $form-width;
		margin: 0 auto;
		textarea {
			max-width: $form-width;
			min-height: 150px;
		}
		.row {
			max-height: 63px;
		}
	}
	div#newsItem {
		margin-left: 5px;
		border-top: 1px dotted #000000;
		h2 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
			padding: 0;
		}
	}
	div#indivEvents 
	{
		h2 
		{
			font-size: 18px;
			font-weight: bold;
		}
		p 
		{
			font-size: 14px;
		}
	}

}
.loginform {
	width: 400px;
	margin: 0 auto;
	.button {
		float: right;
	}
}
footer {
	padding-top: 10px;
	border-top: 1px dotted #dadada;
	height: 30px;	
	color: #a6a7a7;
	font-size: 14px;
	text-align: center;
}