* {
	font-family: "Calibri", sans-serif;
	font-size:11pt;
}

h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0;
	padding-bottom:7px;
	text-align: left;
}

h1 {
	font-size:22pt;
}

h2 {
	font-size:18pt;
	margin:0;
	padding:0;
}

p.date {
	font-style:italic;
	padding-bottom:4px;	
}

body {
	margin-top: 8px;
	padding: 0;
	width:100%-1px;
	height:100%;
	text-align:center;
	background-color:#E2F7CC;
}

	#main {
		width:900px;
		margin:auto;
		text-align:left;
		
		border:5px solid #D2EABA;
	}

	#header {
		background-image:url("../../header.png");
		background-repeat:no-repeat;
		background-color:white;
		align:center;
		height:192px;
	}
	
	#nav {
		height:32px;
		background-color:#EBE8DF;
	}
	
		#nav ul {
			padding:0;
			margin:0;
			list-style:none;
		}
		
		#nav ul li {
			padding:0;
			margin:0;
			list-style:none;
			float:left;
			text-transform:uppercase;
		}
		
		#nav ul li a {
			font-size:18px;
			text-decoration:none;
			padding-left:14px;
			padding-right:14px;
			
			color:#999;
			line-height:32px;
			height:32px;
		}
		
		#nav ul li a:hover {			
			color:#000;
			background-color:#8F9289;
		}
	
	#content {
		background-color:white;
		text-align:center;
	}
	
		#content_inner{
			padding:10px;
			background-color:white;
		}
		#content_inner_officer{
			padding:10px;
			background-color:white;
		}
		div.members_home {
			padding:5px;
			
		}
		p img {
			width: 134px;
			height: 180px;
			padding-right: 10px;							
			padding-top: 10px;
		}
		div#officer_bios {
			text-align: left;
			width: 860px;
			height: 180px;
		}		
		
	#footer {
		line-height:32px;
		text-align:center;
	}
	
